<section>
  <h2>Test Content Updates</h2>
  <button (click)="sendWords()">Send some words</button>
  <button (click)="sendMoreWords()">Send more words</button>
</section>

<section>
  <h2>Test Role Change</h2>
  <button (click)="changeRole('alert')">role='assertive'</button>
  <button (click)="changeRole('status')">role='polite'</button>
</section>

<section>
  <h2>Test Type Change</h2>
  <button (click)="changeType('assertive')">type='alert'</button>
  <button (click)="changeType('polite')">type='status'</button>
</section>
